# FastAPI e servidor ASGI
fastapi==0.117.1
uvicorn==0.36.0
starlette==0.48.0
anyio==4.10.0
h11==0.16.0

# Captura e análise de pacotes
pyshark==0.6
scapy==2.6.1
sniffio==1.3.1

# Tipagem e utilitários Python
typing-extensions==4.15.0
annotated-types==0.7.0
typing-inspection==0.4.1

# Utilitários e parsing
click==8.3.0
packaging==25.0
idna==3.10
lxml==6.0.1
appdirs==1.4.4
termcolor==3.1.0

# Uploads multipart (FastAPI)
python-multipart==0.0.6
